$primaryColor: #546e7a;
$primaryLightColor: #819ca9;
$primaryDarkColor: #29434e;
$secondaryColor: #ff9800;
$secondaryLightColor: #ffc947;
$secondaryDarkColor: #c66900;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;

.btn-primary {
  background-color: $secondaryColor;
  border-color: $secondaryDarkColor;
}

.btn-primary:hover {
  background-color: $secondaryLightColor;
  border-color: $secondaryColor;
  color: $secondaryTextColor
}

.container-registration-form {
  text-align: center;
  margin-top: 5rem;
  border: 2px solid $secondaryColor;
  background-color: #ffcc80;
  color: $secondaryTextColor;
}

.login-title {
  text-align: center;
  margin-top: 5rem;
  color: $primaryColor;
}

.login-subtitle {
  text-align: center;
  color: $primaryLightColor;
  font-style: italic;
}

@media (max-width: 480px) {
  .login-title {
    margin-top: 2rem;
  }
  .container-registration-form {
    margin-top: 2rem;
  }
}